body, html{
    background: #FAE0E4;
}

#wrapper{
    background: #FAE0E4;
}

/*Navbar*/
header{
    background-color:#b544e6;
    box-shadow: 5px 5px 5px #F9BEC7;
}

#item{
    font-size: 25px;
    color: white;
}



a:hover{
    transform: scale(0.9);
    border-radius: 20%;
}
/*Navbar ------------------------------------------------------*/

/*Inicio ------------------------------------------------------*/
#box1{
    background-color:#973AA8;
    width:78%;
    box-shadow: 10px 10px 10px #00000073;
    
}

#txt_litch{
    color: white;
    font-size:50px;
    padding-top: 3%;
    padding-bottom: 3%;
}

#txt_inicio{
    color: rgb(56, 45, 45);
    font-size:25px;
}

#imglichia{
    width:80%;
    height:80%;
}

#imglichia:hover{
    transform: scale(0.97);
}




#inicio{
    padding-top: 14%;
    
}

#txtb{
    font-size: 25px;
    color: white;
}
#botao{
    background-color:#C05299;
    box-shadow: 7px 7px 7px #00000073;
    width: 200px;
}

#botao:hover{
    transform: scale(0.95);
    background-color: #d38f99;
    box-shadow: 7px 7px 7px #400342;
}
#linha{
    background-color: #973AA8;
    width: 50%;
    height:4px;

}
/*Inicio ------------------------------------------------------*/


/*Sobre ------------------------------------------------------*/

#sobre{
    padding-top: 100px;
    padding-bottom: 100px;
}

#nos{
    background-color: #973AA8;
    width:50%;
    border-radius: 10%;
    box-shadow: 12px 12px 12px #F9BEC7;
}

#box2{
    background-color: #C05299;
    box-shadow: 12px 12px 12px #F9BEC7;
}

#txt_sobre{
    color: white;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-inline-start: 3%;
    padding-inline-end: 3%;
}



#txt_nos{
    color: white;
    font-size: 30px;
    padding-bottom: 5%;
}

#imglitch:hover{
    transform: scale(0.97);
}
/*Sobre ------------------------------------------------------*/


/*CRIAÇÃO ------------------------------------------------------*/

#criacao{
    padding-top: 50px;
    padding-bottom: 100px;
}

#box3{
    background-color: #C05299;
    box-shadow: 12px 12px 12px #F9BEC7;
    width: 80%;
}

#imgduvida:hover{
    transform: scale(0.97);
}

#criacao2{
    padding-top: 50px;
    padding-bottom: 100px;
}

/*CRIAÇÃO ------------------------------------------------------*/

/*Integrantes ------------------------------------------------------*/

#integrantes{
    background-color: #ff01a6;
    padding-bottom: 100px;
    padding-top: 50px;
}


#integrantesbox{
    background-color: #973AA8;
    width:50%;
    border-radius: 10%;
    box-shadow: 12px 12px 12px #160c0d70;
}


#linha2{
    background-color: #F9BEC7;
    width: 50%;
    height:4px;
}

#int{
    background-color: #973AA8;
    width:50%;
    border-radius: 10%;
    box-shadow: 12px 12px 12px #160c0d70;
}
#card{
    background-color: #973AA8;
    box-shadow: 12px 12px 12px #160c0d70;
}

#card:hover{
    background-color: #C05299;
    transform: scale(0.99);
    box-shadow: 12px 12px 12px #74305c;
    
}
#imgcard{
    border-radius: 60%;
    height:60%;
    width:70%
}

/*Integrantes ------------------------------------------------------*/


#tp{
    color: white;
}

#c{
    padding-bottom: 100px;
}

#title{
    color: white;
    font-size: 25px;
}

#text{
    color: white;
    font-size: 18px;
}



#litch{
    background-color:#612577;
}

#comosurgiu{
    background-color:#a86ebd;

}

#integrantes{
    background-color:#a86ebd;

}

#projetos{
    background-color:#a86ebd;

}

#nephelium{
    background-color:#a86ebd;

}